<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SoccerSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddFieldServlet</servlet-name>
    <servlet-class>servlet.AddFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryFieldServlet</servlet-name>
    <servlet-class>servlet.QueryFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryFieldReserveServlet</servlet-name>
    <servlet-class>servlet.QueryFieldReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryMyFieldReserveServlet</servlet-name>
    <servlet-class>servlet.QueryMyFieldReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToModifyFieldServlet</servlet-name>
    <servlet-class>servlet.ToModifyFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyFieldServlet</servlet-name>
    <servlet-class>servlet.ModifyFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveFieldServlet</servlet-name>
    <servlet-class>servlet.RemoveFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTeamServlet</servlet-name>
    <servlet-class>servlet.AddTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveTeamServlet</servlet-name>
    <servlet-class>servlet.RemoveTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryTeamServlet</servlet-name>
    <servlet-class>servlet.QueryTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToModifyTeamServlet</servlet-name>
    <servlet-class>servlet.ToModifyTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyTeamServlet</servlet-name>
    <servlet-class>servlet.ModifyTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>servlet.QueryUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>servlet.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToMatchReserveServletServlet</servlet-name>
    <servlet-class>servlet.ToMatchReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MatchReserveServlet</servlet-name>
    <servlet-class>servlet.MatchReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyMatchServlet</servlet-name>
    <servlet-class>servlet.ModifyMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveMatchServlet</servlet-name>
    <servlet-class>servlet.RemoveMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryMatchServlet</servlet-name>
    <servlet-class>servlet.QueryMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToModifyMatchServlet</servlet-name>
    <servlet-class>servlet.ToModifyMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FieldReserveServlet</servlet-name>
    <servlet-class>servlet.FieldReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCoachServlet</servlet-name>
    <servlet-class>servlet.AddCoachServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttendCourseServlet</servlet-name>
    <servlet-class>servlet.AttendCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryCourseServlet</servlet-name>
    <servlet-class>servlet.QueryCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUserCourseServlet</servlet-name>
    <servlet-class>servlet.QueryUserCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttenTeamServlet</servlet-name>
    <servlet-class>servlet.AttenTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgreeApplicationServlet</servlet-name>
    <servlet-class>servlet.AgreeApplicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostThreadServlet</servlet-name>
    <servlet-class>servlet.PostThreadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostThreadAdminServlet</servlet-name>
    <servlet-class>servlet.PostThreadAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveThreadServlet</servlet-name>
    <servlet-class>servlet.RemoveThreadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryFinishedMatchServlet</servlet-name>
    <servlet-class>servlet.QueryFinishedMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToHomePageServlet</servlet-name>
    <servlet-class>servlet.ToHomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryTeamsToAttendServlet</servlet-name>
    <servlet-class>servlet.QueryTeamsToAttendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryMyTeamServlet</servlet-name>
    <servlet-class>servlet.QueryMyTeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryCoachCourseServlet</servlet-name>
    <servlet-class>servlet.QueryCoachCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryTeamInfoServlet</servlet-name>
    <servlet-class>servlet.QueryTeamInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryJoinTeamApplicationServlet</servlet-name>
    <servlet-class>servlet.QueryJoinTeamApplicationServlet</servlet-class>
  </servlet>
</web-app>